ul {
	display: inline-block;
	text-align: left;
}
li {
	padding-top: 10px;
}
body {
	font-size: 18px;
}
/*h2, h3 {
	text-decoration: underline;
}*/
/* =========== Navigation ============ */

.navbar-default {
    background-color: white;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: lightblue;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    /*padding: 10px;*/
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    /*background-color: transparent;*/
    color: #129CF3;
} 
/* END Navigation */

#table-of-contents {
	/*background-color: lightgray;*/
	/*width: 200px;*/
}
#set-up {
    position: relative;
    height: 100%;
    width: 75%;
    text-align: left;
    margin: auto;
    padding: 80px;
    background-color: white;
}
#toc {
	padding: 25px;
	padding-bottom: 5px;
	background-color: lightgray;
	list-style-type: none;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	float: right;
	height: 30%;
}
#frame {
	background-color: lightgray;
}
